In [1]:
#1. Display Top 5 Rows of The Dataset
#2. Check the Last 3 Rows of The Dataset
#3. Find Shape of Our Dataset (Number of Rows & Number of Columns)
#4. Get Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement
#5. Get Overall Statistics About The Dataframe
#6. Total Number of App Titles Contain Astrology
#7. Find Average App Rating
#8.  Find Total Number of Unique Category
#9. Which Category Getting The Highest Average Rating?
#10. Find Total Number of App having 5 Star Rating
#11. Find Average Value of Reviews
#12. Find Total Number of Free and Paid Apps
#13.  Which App Has Maximum Reviews?
#14. Display Top 5 Apps Having Highest Reviews
#15. Find Average Rating of Free and Paid Apps
#16. Display Top  5 Apps Having Maximum Installs

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#1. Display Top 5 Rows of The Dataset
#2. Check the Last 3 Rows of The Dataset
#3. Find Shape of Our Dataset (Number of Rows & Number of Columns)

In [4]:
store = pd.read_csv('DataSets/googleplaystore.csv')

In [5]:
store.head(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [6]:
store.tail(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [7]:
store.shape

(10841, 13)

In [8]:
store.shape[0]

10841

In [9]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
App               10841 non-null object
Category          10841 non-null object
Rating            9367 non-null float64
Reviews           10841 non-null object
Size              10841 non-null object
Installs          10841 non-null object
Type              10840 non-null object
Price             10841 non-null object
Content Rating    10840 non-null object
Genres            10841 non-null object
Last Updated      10841 non-null object
Current Ver       10833 non-null object
Android Ver       10838 non-null object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [10]:
store.describe(include='all')

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
count,10841,10841,9367.000000,10841,10841,10841,10840,10841,10840,10841,10841,10833,10838
unique,9660,34,NaN,6002,462,22,3,93,6,120,1378,2832,33
top,ROBLOX,FAMILY,NaN,0,Varies with device,"1,000,000+",Free,0,Everyone,Tools,"August 3, 2018",Varies with device,4.1 and up
freq,9,1972,NaN,596,1695,1579,10039,10040,8714,842,326,1459,2451
mean,NaN,NaN,4.193338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,0.537431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,4.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,4.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,19.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#6. Total Number of App Titles Contain Astrology
#7. Find Average App Rating
#8.  Find Total Number of Unique Category
#9. Which Category Getting The Highest Average Rating?

In [12]:
store.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [13]:
store[store['App'].str.contains('Astrology',case=False)]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1570,Horoscopes – Daily Zodiac Horoscope and Astrology,LIFESTYLE,4.6,161143,11M,"10,000,000+",Free,0,Everyone 10+,Lifestyle,"June 25, 2018",5.2.4(881),4.0.3 and up
1592,သိင်္ Astrology - Min Thein Kha BayDin,LIFESTYLE,4.7,2225,15M,"100,000+",Free,0,Everyone,Lifestyle,"July 26, 2018",4.2.1,4.0.3 and up
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [14]:
sum(store['App'].str.contains('Astrology',case=False))

3

In [15]:
store['Rating'].mean()

4.193338315362448

In [16]:
store['Category'].nunique()

34

In [17]:
store.groupby('Category')['Rating'].mean().sort_values(ascending=False).head(5)

Category
1.9                    19.000000
EVENTS                  4.435556
EDUCATION               4.389032
ART_AND_DESIGN          4.358065
BOOKS_AND_REFERENCE     4.346067
Name: Rating, dtype: float64

In [18]:
#10. Find Total Number of App having 5 Star Rating
#11. Find Average Value of Reviews
#12. Find Total Number of Free and Paid Apps
#13.  Which App Has Maximum Reviews?

In [19]:
store.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [20]:
len(store[store['Rating']==5.0]['App'])

274

In [21]:
store['Reviews'].dtypes

dtype('O')

In [22]:
store['Reviews'].astype('float')

ValueError: could not convert string to float: '3.0M'

In [23]:
store['Reviews']=store['Reviews'].replace('3.0M',3.0)

In [24]:
store['Reviews']=store['Reviews'].astype('float')

In [25]:
store['Reviews'].mean()

444111.9265750392

In [26]:
store['Type'].value_counts()

Free    10039
Paid      800
0           1
Name: Type, dtype: int64

In [27]:
store[store['Reviews'].max()==store['Reviews']]['App']

2544    Facebook
Name: App, dtype: object

In [ ]:
#14. Display Top 5 Apps Having Highest Reviews
#15. Find Average Rating of Free and Paid Apps
#16. Display Top  5 Apps Having Maximum Installs

In [28]:
index=store['Reviews'].sort_values(ascending=False).head().index

In [29]:
store.iloc[index]['App']

2544              Facebook
3943              Facebook
336     WhatsApp Messenger
381     WhatsApp Messenger
3904    WhatsApp Messenger
Name: App, dtype: object

In [30]:
store.groupby('Type')['Rating'].mean()

Type
0       19.000000
Free     4.186203
Paid     4.266615
Name: Rating, dtype: float64

In [31]:
store['Installs1']=store['Installs'].str.replace(',','')

In [32]:
store['Installs1']=store['Installs1'].str.replace('+','')

In [33]:
store['Installs1']=store['Installs1'].str.replace('Free','0')

In [34]:
store['Installs1'].dtype

dtype('O')

In [35]:
store['Installs1']=store['Installs1'].str.replace('','0')

In [37]:
store['Installs1']=store['Installs1'].astype('int')

OverflowError: Python int too large to convert to C long

In [ ]:
index=store['Installs'].sort_values(ascending=False).head().index